<h1>Classifieds</h1>

<h1>StuffFinder</h1>
<ul>
  <li>Classifieds</li>
  <li>New Classified</li>
  <li>Sign up</li>
  <li>Sign in</li>
</ul>

<div>
  <h1>Your place for finding stuff you want, and dumping stuff you don't</h1>
  <button>Create a new classified!</button>
  <button>See our current classifieds</button>
</div>