<h1>Classifieds</h1>

<h1>StuffFinder</h1>
<ul>
  <li>Classifieds</li>
  <li>New Classified</li>
  <li>Sign up</li>
  <li>Sign in</li>
</ul>

<div>
  <h1>Your place for finding stuff you want, and dumping stuff you don't</h1>
  <button><%= link_to 'Create a new classified!', new_classified_path(@classified) %></button>
  <button><%= link_to 'See our current classifieds', classifieds_path %></button>
</div>